mixin sNews()
	// start sNews
	+b.sNews.section#sNews&attributes(attributes)
		.container
			+e.grid.row
				mixin item(i,l='20.10.2020',n='Заголовок новости в одну  или несколько строк')
					+e.col.col-12
						+e.item
							+e.img-wrap.bg-wrap(href="#")
								+pic(`sNews-${i}`,'bg',0)(class="picture-bg")
							+e.caption
								+e.DIV.title
									a(href="#")!= n
								+e.DIV.label!= l
							//- +e.DIV.text!= t

				+item(1, `14.04.2021`)
				+item(2, `14.04.2021`)
				+item(3, `14.04.2021`)
				+item(4, `14.04.2021`)
				+item(5, `14.04.2021`)
				+item(6, `14.04.2021`)
				+item(7, `14.04.2021`)
				+pugin()
				+e.col-form.col-12
					+form-wrap()(class="bg-white")
						.h4 Связаться с&nbsp;представителем пресс-центра
						p Напишите нам через форму обратной связи, и&nbsp;мы&nbsp;свяжемся с&nbsp;вами как можно быстрее.
						+input('Ваше имя')
						+input('Эл.почта','email')
						+input('Ваш вопрос','textarea')
						+e.btn--arrows.btn.btn-primary(type='submit') Задать вопрос
						+polite
			




	// end sNews
mixin sNews2()
	// start sNews
	+b.sNews.section.pt-0#sNews&attributes(attributes)
		.container
			.pb-5
				h4 Другие новости
			+e.grid.row
				mixin item(i,l='20.10.2020',n='Заголовок новости в одну  или несколько строк')
					+e.col.col-12
						+e.item
							+e.img-wrap.bg-wrap(href="#")
								+pic(`sNews-${i}`,'bg',0)(class="picture-bg")
							+e.caption
								+e.DIV.title
									a(href="#")!= n
								+e.DIV.label!= l
							//- +e.DIV.text!= t

				+item(1, `14.04.2021`)
				+item(2, `14.04.2021`)
				+item(3, `14.04.2021`)


mixin sNews-contacts()
	// start sNews
	+b.sNews--contacts.section#sNews&attributes(attributes)
		.container
			.row
				.col-lg-4
					+form-wrap()(class="bg-white")
						.h4 У вас есть вопрос?
						p Напишите нам через форму обратной связи, и мы свяжемся с вами как можно быстрее.
						+input('Ваше имя')
						+input('Эл.почта','email')
						+input('Ваш вопрос','textarea')
						+e.btn--arrows.btn.btn-primary(type='submit') Задать вопрос
						+polite
				.col
					mixin item(p,t,d,m)
						+e.contactItem
							+e.contactTitle= p
							+e.name= t
							if d
								+e.position= d
							block
							if m
								+e.mail(href=`mailto:${m}`)= m
					+item('Руководитель проекта','Константин Курочкин','руководитель проектного отдела ИД "Гудок"','k.kurochkin@gudok.ru')
						+e.tel(href="tel:+74959090818") #[span +7 495 909-08-18] доб. 70845
					.row
						.col-sm-6
							+item('Техническая поддержка ','Анна Кофман','руководитель проектного отдела ИД "Гудок"','a.kofman@gudok.ru')
								+e.tel(href="tel:+74959090818") #[span +7 (495) 909-08-18] доб. 70-786
						.col-sm-6
							+item('Контакты для СМИ','Анна Кофман','руководитель проектного отдела ИД "Гудок"','a.kofman@gudok.ru')
								+e.tel(href="tel:+74959090818") #[span +7 (495) 909-08-18] доб. 70-786
						.col-sm-6
							+item('Связаться с организаторами','Дина Абдулдеянова')
								+e.tel(href="tel:+74959090818") #[span +7 (495) 909-08-18] доб. 70852
								+e.mail(href=`da@gudok.ru`) da@gudok.ru
								br
								+e.name Ирина Васильева
								+e.tel(href="tel:+74959830818") #[span +7 495 983 0818] доб. 70744
								+e.mail(href=`i.vasilieva@gudok.ru`) i.vasilieva@gudok.ru
						.col-sm-6
							+item('Работа с участниками','Елена Шапочанская')
								+e.tel(href="tel:+74959090818") #[span +7 (495) 909-08-18] доб.70674
								+e.mail(href=`e.shapochanskaya@gudok.ru`) e.shapochanskaya@gudok.ru
								br
								+e.name Станислав Веселицкий
								+e.tel(href="tel:+74959090818") #[span + 7 (495) 909-0818] доб. 70812
								+e.mail(href=`s.veselitskiy@gudok.ru`) s.veselitskiy@gudok.ru


	// end sNews